
.product-card{
    display: flex;
    justify-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: solid 1px black;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .product-card:hover{
    background-color: lightcyan;
  }
  #product-poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 248px;
    max-width: var(--maxContentWidth);
    
    
  }
  .product-name {
    text-align: center;
    color:rgb(30, 31, 114);
    font-weight: bold;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .product-price{
    text-align: center;
    color:rgb(30, 31, 114);
    font-weight: bold;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .product-description{
    text-align: center;
    color:rgb(30, 31, 114);
    font-weight: bold;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .button{
    width: 80px;
    height: 100%;
    display: flex;
    width: 20px;
    height: 20px;
    border: solid 1px green;
    color: green;
    cursor: pointer;
    padding: 5px;
    flex-direction: row;
  }
  .add{
    flex-direction: row;
  }

  .remove{
    flex-direction: row;
  }