.about
{
    display:grid;
    grid-template-columns: repeat(2, auto);
    background: rgb(123,162,198);
    background: linear-gradient(90deg, rgba(123,162,198,1) 0%, rgba(25,187,117,1) 100%);
    margin-bottom: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.a-text
{
    padding: 50px
}

#a-image
{
    width: 400px;
    height: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    margin: 10px 0 30px;
    font-weight: 600;
    transform: translate(3%, 0%);
}