.navbar{
    height: 100%;
    transform: translate(2%, 0%);
}

.navbar .content{   
    width: 100%;
    background-color: #2c4047;
    margin: 0;
    padding: 0 10rem;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
}


.content button {
    outline: none;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    
}


#logo-img{
    width: 70px;
    float: left;
}
.links a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    background-color: #2c4047;
    text-decoration-line: none;

    
}